body {
  -webkit-font-smoothing: antialiased;
}

a:hover {
  curor: pointer;
}
.instagram-image {
  padding: 0;

  img {
    width: 100%;
    height: auto;
  }
}

// Breakpoints

$small:   480px;
$medium:  768px;
$large:   920px;
$x-large: 1200px;
