body {
  -webkit-font-smoothing: antialiased;
}

a:hover {
  curor: pointer;
}
.instagram-image {
  padding: 0;

  img {
    width: 100%;
    height: auto;
  }
}

// Loader

#status {
    width: 300px;
    height: 200px;
    position: fixed;
    left: 50%;
    top: 50%;
    background-image: url('/images/shared/loader.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: -100px 0 0 -150px;
}

// Breakpoints

$small:   480px;
$medium:  768px;
$large:   920px;
$x-large: 1200px;
