<!-- FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<footer class="mastfoot container-fluid white-bg">

  <div class="row">
        <article class="credits col-md-12  text-center">
              <img data-no-retina alt="" title="" class="emblem-logo" src="images/shared/emblem.png"/>
        </article>
  </div>
  <div class="row">
        <article class="credits col-md-12  text-center">
            <p class="font4 dark">Copyright &copy; 2015 <a target="_blank" href="http://wwww.designova.net">Designova</a>.<br/><a target="_blank" href="http://themeforest.net/user/designova/portfolio">Buy this template</a></p>
        </article>
  </div>
  <div class="row add-top-quarter">
        <ul class="foot-social col-md-12 text-center">
          <li><a href="#"><img data-no-retina alt="" title="" src="images/shared/social/01.svg"/></a></li>
          <li><a href="#"><img data-no-retina alt="" title="" src="images/shared/social/02.svg"/></a></li>
          <li><a href="#"><img data-no-retina alt="" title="" src="images/shared/social/03.svg"/></a></li>
          <li><a href="#"><img data-no-retina alt="" title="" src="images/shared/social/04.svg"/></a></li>
        </ul>
  </div>

</footer>
