<!-- SLIDER
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<!--sliding menu panel :starts -->
<section class="menu-panel cd-panel from-right">
    <div class="cd-panel-container">
      <div class="cd-panel-content fullheight menu-bg">
              <div class="valign">
                <nav>
                  <ul class="main-menu">
                      <li>
                        <a class="main-link sub-menu-trigger" href="/work.html">work</a>
                        <div class="sub-menu">
                          <a href="/projects/first-test.html">test 01</a>
                          <a href="/projects/second-test.html">test 02</a>
                          <a href="/projects/third-test.html">test 03</a>
                        </div>
                      </li>
<!--                       <li>
                        <a class="main-link sub-menu-trigger" href="/play.html">play</a>
                        <div class="sub-menu">
                          <a href="#">test 01</a>
                          <a href="#">test 02</a>
                          <a href="#">test 03</a>
                        </div>
                      </li> -->
                      <li>
                        <a class="main-link sub-menu-trigger" href="">about</a>
                        <div class="sub-menu">
                          <a href="project.html">History</a>
                          <a href="project02.html">Services</a>
                          <a href="project03.html">Pricing</a>
                          <a href="project04.html">lifestream</a>
                        </div>
                      </li>
                      <li>
                        <a class="main-link" href="contact.html">contact</a>
                      </li>
                  </ul>
                </nav>
              </div>

              <a class="menu-close-trigger" href="#"><span class="white ion-android-close"></span></a>

      </div> <!-- cd-panel-content -->
    </div> <!-- cd-panel-container -->
</section>
<!-- sliding menu panel :ends -->
