<!-- SLIDER
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<!--sliding menu panel :starts -->
<section class="menu-panel cd-panel from-right">
    <div class="cd-panel-container">
      <div class="cd-panel-content fullheight menu-bg">
              <div class="valign">
                <nav>
                  <ul class="main-menu">
                      <li>
                        <a class="main-link sub-menu-trigger" href="">works</a>
                        <div class="sub-menu">
                          <a href="index01.html">portfolio / agency</a>
                          <a href="index02.html">portfolio / masonry</a>
                          <a href="index06.html">portfolio / parallax</a>
                          <a href="index04.html">portfolio / thumbnails</a>
                          <a href="index03.html">portfolio / vertical</a>
                          <a href="index07.html">portfolio / two columns</a>
                          <a href="index05.html">portfolio / bg video</a>
                        </div>
                      </li>
                      <li>
                        <a class="main-link sub-menu-trigger" href="">sample</a>
                        <div class="sub-menu">
                          <a href="project.html">project / slider</a>
                          <a href="project02.html">project / video</a>
                          <a href="project03.html">project / images</a>
                          <a href="project04.html">project / parallax</a>
                        </div>
                      </li>
                      <li>
                        <a class="main-link sub-menu-trigger" href="">pages</a>
                        <div class="sub-menu">
                          <a href="about01.html">about / agency</a>
                          <a href="about04.html">about / minimal</a>
                          <a href="about02.html">about / alternative</a>
                          <a href="about03.html">about / personal</a>
                          <a href="services.html">services + pricing</a>
                          <a href="news.html">news / wall</a>
                          <a href="post.html">news / single post</a>
                          <a href="elements.html">extra elements</a>
                        </div>
                      </li>
                      <li>
                        <a class="main-link" href="contact.html">hello</a>
                      </li>
                  </ul>
                </nav>
              </div>

              <a class="menu-close-trigger" href="#"><span class="white ion-android-close"></span></a>

      </div> <!-- cd-panel-content -->
    </div> <!-- cd-panel-container -->
</section>
<!-- sliding menu panel :ends -->
