<!-- PROJECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<section id="works-container" class="works-container works-masonry-container clearfix white-bg">
  <!-- start : works-item -->
  <div class="works-item works-item-one-half info web ui">
    <img data-no-retina class="img-responsive" src="/images/projects/yle-thumb.jpg"/>
    <a href="/projects/your-leadership-edge.html">
      <div class="works-item-inner valign">
        <h3><span class="white font5">Web</span></h3>
        <p><span class="white font4">Your Leadership Edge</span></p>
      </div>
    </a>
  </div>
  <!-- end : works-item -->
  <!-- start : works-item -->
  <div class="works-item works-item-one-half info web brand ui">
    <img data-no-retina class="img-responsive" src="/images/projects/jeet-thumb.png"/>
    <a  href="projects/jeet.html">
      <div class="works-item-inner valign">
        <h3><span class="white font5">Web &amp; Brand</span></h3>
        <p><span class="white font4">Jeet Grid System</span></p>
      </div>
    </a>
  </div>
  <!-- end : works-item -->
  <!-- start : works-item -->
  <div class="works-item works-item-one-half zoom branding graphics">
    <img data-no-retina alt="" title="" class="img-responsive" src="/images/projects/03.jpg"/>
    <a  class="venobox" data-gall="portfolio-gallery" href="/images/projects/03.jpg">
      <div class="works-item-inner valign">
        <h3><span class="white font5">Web</span></h3>
        <p><span class="white font4">Venice Spa</span></p>
      </div>
    </a>
  </div>
  <!-- end : works-item -->
  <!-- start : works-item -->
  <div class="works-item works-item-one-half info web graphics">
    <img data-no-retina alt="" title="" class="img-responsive" src="/images/projects/04.jpg"/>
    <a  href="project.html">
      <div class="works-item-inner valign">
        <h3><span class="white font5">Graphics</span></h3>
        <p><span class="white font4">Madagascar</span></p>
      </div>
    </a>
  </div>
  <!-- end : works-item -->
  <!-- start : works-item -->
  <div class="works-item works-item-one-half zoom branding">
    <img data-no-retina alt="" title="" class="img-responsive" src="/images/projects/05.jpg"/>
    <a  class="venobox" data-gall="portfolio-gallery" href="/images/projects/05.jpg">
      <div class="works-item-inner valign">
        <h3><span class="white font5">Visual</span></h3>
        <p><span class="white font4">Antilop Studio</span></p>
      </div>
    </a>
  </div>
  <!-- end : works-item -->
  <!-- start : works-item -->
  <div class="works-item works-item-one-half info logos">
    <img data-no-retina alt="" title="" class="img-responsive" src="/images/projects/07.jpg"/>
    <a  href="project.html">
      <div class="works-item-inner valign">
        <h3><span class="white font5">Print</span></h3>
        <p><span class="white font4">Aura La Forte</span></p>
      </div>
    </a>
  </div>
  <!-- end : works-item -->
  <!-- start : works-item -->
  <div class="works-item works-item-one-half zoom logos ui">
    <img data-no-retina alt="" title="" class="img-responsive" src="/images/projects/08.jpg"/>
    <a  class="venobox" data-gall="portfolio-gallery" href="/images/projects/08.jpg">
      <div class="works-item-inner valign">
        <h3><span class="white font5">Brand</span></h3>
        <p><span class="white font4">Revero Republic</span></p>
      </div>
    </a>
  </div>
  <!-- end : works-item -->
  <!-- start : works-item -->
  <div class="works-item works-item-one-half info web">
    <img data-no-retina alt="" title="" class="img-responsive" src="/images/projects/06.jpg"/>
    <a  href="project.html">
      <div class="works-item-inner valign">
        <h3><span class="white font5">Web</span></h3>
        <p><span class="white font4">Campstreak</span></p>
      </div>
    </a>
  </div>
  <!-- end : works-item -->
  <!-- start : works-item -->
  <div class="works-item works-item-one-half zoom logos graphics">
    <img data-no-retina alt="" title="" class="img-responsive" src="/images/projects/09.jpg"/>
    <a  class="venobox" data-gall="portfolio-gallery" href="/images/projects/09.jpg">
      <div class="works-item-inner valign">
        <h3><span class="white font5">Logo</span></h3>
        <p><span class="white font4">Novatell</span></p>
      </div>
    </a>
  </div>
  <!-- end : works-item -->
  <!-- start : works-item -->
  <div class="works-item works-item-one-half info branding">
    <img data-no-retina alt="" title="" class="img-responsive" src="/images/projects/10.jpg"/>
    <a  href="project.html">
      <div class="works-item-inner valign">
        <h3><span class="white font5">Brand</span></h3>
        <p><span class="white font4">Adjoint34</span></p>
      </div>
    </a>
  </div>
  <!-- end : works-item -->
  <!-- start : works-item -->
  <div class="works-item works-item-one-half info branding">
    <img data-no-retina alt="" title="" class="img-responsive" src="/images/projects/11.jpg"/>
    <a  href="project.html">
      <div class="works-item-inner valign">
        <h3><span class="white font5">UI</span></h3>
        <p><span class="white font4">F.J.S</span></p>
      </div>
    </a>
  </div>
  <!-- end : works-item -->
  <!-- start : works-item -->
  <div class="works-item works-item-one-half zoom branding">
    <img data-no-retina alt="" title="" class="img-responsive" src="/images/projects/12.jpg"/>
    <a  class="venobox" data-gall="portfolio-gallery" href="/images/projects/12.jpg">
      <div class="works-item-inner valign">
        <h3><span class="white font5">Web</span></h3>
        <p><span class="white font4">Majority</span></p>
      </div>
    </a>
  </div>
  <!-- end : works-item -->
  <!-- start : works-item -->
  <div class="works-item works-item-one-half info branding">
    <img data-no-retina alt="" title="" class="img-responsive" src="/images/projects/13.jpg"/>
    <a  href="project.html">
      <div class="works-item-inner valign">
        <h3><span class="white font5">Brand</span></h3>
        <p><span class="white font4">Stop Hue</span></p>
      </div>
    </a>
  </div>
  <!-- end : works-item -->
</section>
<!-- end : works-container -->

<section class="filter-notification">
  <a class="font4bold" href="#">Show Filters</a>
</section>
<!--works filter panel :starts -->
<section id="works-filter-panel" class="works-filter-panel fullheight">
  <div class="valign">
    <div class="works-filter-wrap">
      <ul class="works-filter text-center clearfix font4bold">
        <li><a id="all" href="#" data-filter="*" class="active"><span>All</span></a></li>
        <li><a href="#" data-filter=".branding"><span>Branding</span></a></li>
        <li><a href="#" data-filter=".graphics"><span>Graphics</span></a></li>
        <li><a href="#" data-filter=".logos"><span>Logos</span></a></li>
        <li><a href="#" data-filter=".ui"><span>UI</span></a></li>
        <li><a href="#" data-filter=".web"><span>Web</span></a></li>
      </ul>
    </div>
  </div>
</section>
<!-- works filter panel :ends -->
