---
layout: default
body_class: 'lifestream'
---

<!--  ABSTRACT
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
{% include shared/abstract.html abstractText="Enjoy a glympse into the lives of our team." %}


<!-- INSTAGRAM FEED
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<section>
  <div class="container-fluid">
    <div id="instafeed" class="row instafeed">
    </div>
  </div>

</section>

<!--  CTA SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
{% include shared/cta.html ctaIntro="Enough baby photos." ctaButton="Let's talk" ctaBackground="about/00.jpg" %}
