---
layout: default
body_class: 'services'
title: "Services"
description: "We like to work together as <strong>partners</strong> to help you achieve your goals."
---


<!--  ABSTRACT
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
{% include shared/abstract.html abstractText="Straight-forward pricing that keeps your pockets stuffed as you scale." %}


<!-- PRICING TIERS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<section class="pricing-wrap white-bg add-top add-bottom">
  <div id="ws" class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="price">
          <i class="ion-ios7-bookmarks-outline color"></i>
          <h5 class="font2 whitegray-bg black ">ALPHA</h5>
          <div class="price-specs ">
            <h1 class="font1 color ">$19</h1>
            Free 14-day trial.<br/>
            Unlimited Pages.<br/>
            Unlimited Storage.<br/>
          </div>
          <div class="pricing-button"><a href="#" class="btn btn-ego btn-ego-color">Purchase</a></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="price">
          <i class="ion-ios7-analytics-outline color"></i>
          <h5 class="font2 whitegray-bg black ">BETA</h5>
          <div class="price-specs ">
            <h1 class="font1 color ">$29</h1>
            Free 14-day trial.<br/>
            Unlimited Pages.<br/>
            Unlimited Storage.<br/>
          </div>
          <div class="pricing-button"><a href="#" class="btn btn-ego btn-ego-color">Purchase</a></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="price">
          <i class="ion-ios7-browsers-outline color"></i>
          <h5 class="font2 whitegray-bg black ">GAMA</h5>
          <div class="price-specs ">
            <h1 class="font1 color ">$39</h1>
            Free 14-day trial.<br/>
            Unlimited Pages.<br/>
            Unlimited Storage.<br/>
          </div>
          <div class="pricing-button"><a href="#" class="btn btn-ego btn-ego-color">Purchase</a></div>
        </div>
      </div>
    </div>
  </div>
</section>


<!--  CTA SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
{% include shared/cta.html ctaIntro="Let's talk about your needs." ctaButton="Get in touch" ctaBackground="about/00.jpg" %}
